on: [push]

name: CI

jobs:
  check:
    name: Build
    runs-on: [self-hosted, linux]
    # runs-on: ubuntu-latest

    # Cross-compile
    # Supported targets: https://doc.rust-lang.org/nightly/rustc/platform-support.html
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu # 64-bit Linux (kernel 2.6.32+, glibc 2.11+)
          - x86_64-pc-windows-gnu # 64-bit MinGW (Windows 7+)
          - x86_64-apple-darwin # 64-bit macOS (10.7+, Lion+)

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          override: true
      - run: rustup component add rustfmt
      - name: fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --release --workspace --target=${{ matrix.target }}
      - name: check
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --workspace --target=${{ matrix.target }}
      # - uses: actions-rs/cargo@v1
      #   with:
      #     use-cross: true
      #     command: build
      #     args: --release --target=${{ matrix.target }}
